@model StorefrontApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/global_styles.css" />
</head>

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <mark>An email will be sent with instructions. Use the correct email, please.</mark>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Send Link" class="btn btn-light" />
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}