@model StorefrontApp.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/global_styles.css" />
</head>

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="row">
            @Html.LabelFor(m => m.Username, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" class="btn btn-light" value="Reset" />
            </div>
        </div>
        <br />
        <div class="entry-content">
            <strong>Rules:</strong>
            <ul>
                <li>Username must be correct. Usernames are case-sensitive.</li>
                <li>Passwords must contain at least one non-letter or digit character.</li>
                <li>Passwords must contain at least one digit ('0'-'9').</li>
                <li>Passwords must contain at least one uppercase ('A'-'Z').</li>
            </ul>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}