@using StorefrontAppCore.Models
@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/global_styles.css"  asp-append-version="true" />
</head>

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-5">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-5">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-5">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Change" class="btn btn-outline-dark" />
            </div>
        </div>
    }
    <br />
    <div class="entry-content">
        <strong>Rules:</strong>
        <ul>
            <li>Current password must be correct.</li>
            <li>Passwords must be alphanumeric. </li>
            <li>Passwords must be at least a length of 6.</li>
            <li>Passwords must contain at least one non-letter or digit character.</li>
            <li>Passwords must contain at least one digit ('0'-'9').</li>
            <li>Passwords must contain at least one uppercase ('A'-'Z').</li>
        </ul>
    </div>
</main>