@using StorefrontAppCore.Models
@model CreateOrderViewModel

@{
    ViewBag.Title = "Create Order";
    decimal totalPrice = 0;
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/global_styles.css"  asp-append-version="true" />
</head>

<h2 id="title">@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("CreateOrder", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.ShoppingCartItems)
    @Html.HiddenFor(m => m.PaymentMethods)
    <div class="form-group">
        @Html.LabelFor(m => m.ShippingAddress, new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.ShippingAddress, new { @class = "form-control", ReadOnly = true })
            @Html.ValidationMessageFor(m => m.ShippingAddress, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedPaymentMethodID, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-5">
            @Html.DropDownListFor(m => m.SelectedPaymentMethodID, new SelectList(Model.PaymentMethods, "PaymentMethodID", "CardNumber"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SelectedPaymentMethodID, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    if (Model.PaymentMethods != null && Model.PaymentMethods.Any())
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Place Order" class="btn btn-outline-primary" />
            </div>
            <br />
        </div>
    }
    else
    {
        <br />
        <div class="alert alert-primary" role="alert">
            Please add a payment method to use.
        </div>
    }
}
    <br />
    <br />
    <h3>Current Shopping Cart:</h3>
    @if (Model.ShoppingCartItems != null && Model.ShoppingCartItems.Count > 0)
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr class="table">
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Type</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Individual Price</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCartItems)
                {
                    decimal itemPrice = item.Product.Price * item.Quantity;
                    totalPrice += itemPrice;
                    <tr>
                        <td>@item.Product.ProductName</td>
                        <td>@item.Product.ProductType</td>
                        <td>@item.Quantity</td>
                        <td>@item.Product.Price</td>
                        <td>@itemPrice</td>
                    </tr>
                }
            </tbody>
        </table>
        <p class="lead">
            <strong>Total Order Price: @totalPrice</strong>
        </p>
        @if (ViewBag.Message != null)
        {
            <br />
            <div class="alert alert-primary" role="alert">
                @ViewBag.Message
            </div>
            <br />
        }
    }
    else
    {
        <div class="alert alert-primary" role="alert">
            There are no items in your shopping cart.
        </div>
    }
